/* Navbar */
/* Global */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Jost', sans-serif;
}

p {
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
}

section {
  padding: 3rem 0;
}

.btn {
  max-width: 46%;
  white-space: nowrap
}

h1, h2, h3, h6 {
  font-weight: 700;
  line-height: 1.2;
}

h1,
h2 {
  margin-bottom: 1rem;
}

h6 {
  margin-bottom: 2rem;
}

h1 span,
h2 span,
h6 span {
  background: linear-gradient(45deg, #F54864 14.64%, #FF8B68 85.36%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

/* Navbar */
.navbar {
  max-width: 90vw;
}

.navbar.sticky-top {
  top: 1rem;
}

.navbar img {
  width: 72%;
  height: auto;
}

.navbar .nav-item:not(:last-child) {
  margin-right: 1rem;
}

.navbar .nav-item a {
  font-weight: 500;
}

/* Hero */
.jumbotron {
  margin-top: -6.625rem;
  height: 100%;
  padding-top: 10.625rem;
  margin-bottom: 0;
}

.jumbotron img {
  border-radius: 50%;
  border: 6px solid #e2e2e2;
}

/* About */
#about img {
  border-radius: 1rem;
}

/* My Skills */
.card-skill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-skill .percent {
  position: relative;
}

.card-skill svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(-90deg);
}

.card-skill svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #f0f0f0;
  stroke-width: 10;
  stroke-linecap: round;
}

.card-skill svg circle:last-of-type {
  stroke-dasharray: 314px;
  stroke-dashoffset: calc(314px - ((314px * var(--percent)) / 100));
  stroke: #F54865;
}

.card-skill .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-skill .number h4 {
  font-size: 1.2rem;
  margin: 0;
}

.card-skill .number h4 span {
  font-size: 1.2rem;
}

.card-skill .title h3 {
  font-size: 1.2rem;
}


@media (max-width: 767px) {
  .jumbotron .col-md-7 {
    order: 1;
    align-items: center;
  }

  .jumbotron .col-md-7 p {
    text-align: center;
  }

  .jumbotron .col-md-5 {
    order: 0;
    margin-bottom: 2rem;
  }

  #about img {
    margin-bottom: 2rem;
  }
}

@media (min-width: 992px) {
  #skills .container {
      max-width: 800px;
    }
  .card-skill:nth-child(1),
  .card-skill:nth-child(2) {
      margin-bottom: 2rem;
    }
}